mixin card(CARDS_DATA)
  for card in CARDS_DATA.cards
    .card.card-temp
      h3.card__title= card.title

      if card.filters
        ul.card-filters.swiper-container
          .swiper-wrapper
            for filter in card.filters
              if filter.active
                .swiper-slide
                  li.card-filters__filter.active= filter.text
              else
                .swiper-slide
                  li.card-filters__filter= filter.text


      .card-list
        if card.items
          for item in card.items
            .card-list__item
              .card-list__col.num-col
                span.card-list__num= item.id

              .card-list__col.image-col
                .card-list__img-cont
                  img.card-list__logo(src=''+ item.img +'', alt='1xСтавка')

              .card-list__col.price-col
                if item.price
                  div.card-list__price= item.price
                else
                  span.dash —

              .card-list__col.member-col
                if item.member
                  img.card-list__member(src='assets/img/@index/card/member.svg' alt='Представитель компании')
                else
                  span.dash —

              .card-list__col.reviews-col
                a.card-list__reviews(href='#')= item.reviews

              .card-list__col.btn-col
                a.btn.btn-light(href='#')
                  span.btn__text Обзор
                a.btn(href='#')
                  span.btn__text Играть


      .card__links
        a.card__link.blue(href='#')
          | Все букмекеры&nbsp;
          span.amount 24
        a.card__link.red(href='#')
          if card.icon
            i.icon.info-icon
            = card.red_link
            i.icon.arrow-icon
          else
            = card.red_link
            i.icon.arrow-icon